{% extends 'base.html' %}
{% block  content %}



{{ context }}

{{recipe.recipe_name}}




<main>
        <div class="registration-form">
            <h1 class="h3 mb-3 fw-normal">Add additional ingredients:</h1>
            
            {% if form.errors %}
                <div class="alert alert-warning alert-dismissibile fade show alert-register" role="alert">
                    There was an error with your form...
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{form.as_p}}


                <button class="btn btn-secondary w-100 py-2" type="submit" value="signup">Add another ingredient?</button>
            </form>

            <button class="btn btn-primary w-100 py-2" type="submit" value="signup">
                <a href={% url 'home' %} class="view-recipe-text">Create Recipe</a>
            </button>


        </div>    
</main>



{% endblock %}