{% extends 'base.html' %}
{% block  content %}

<main>
        <div class="registration-form">
            <h1 class="h3 mb-3 fw-normal">Add new recipe:</h1>
            
            {% if form.errors %}
                <div class="alert alert-warning alert-dismissibile fade show alert-register" role="alert">
                    There was an error with your form...
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p }}
            
                <button class="btn btn-primary w-100 py-2" type="submit" value="signup">Submit</button>
            </form>
        </div>    
</main>



{% endblock %}