{% extends 'base.html' %}
{% block  content %}

<div>
</div>

<div class="album py-5 bg-body-tertiary">
    
    <div class="container">
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            {% for recipe in recipes %}
                
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{recipe.recipe_image.url}}" width="100%" height="255" object-fit="cover">
                    <div class="card-body increase_card_text_padding">
                        <p class="card-text reduce_bottom_margin">{{recipe.recipe_name}}</p>
                        <div class="d-flex justify-content-between align-items-center" style="font-size: 14px;">
                            <p class="text-body-secondary reduce_bottom_margin">{{recipe.get_difficulty_level_display}}</p>
                            <p class="text-body-secondary reduce_bottom_margin">{{recipe.get_cost_display}}</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">Uploaded by: <span class="recipe-card-author">{{recipe.recipe_author}}</span></small>
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary view-recipe-btn">
                                    <a href="{% url 'recipe_detail' recipe.pk %}" class="view-recipe-text">
                                        View
                                    </a>
                                </button>
                            </div>                                
                        </div>
                    </div>
                </div>
            </div>
            
            {% endfor %}
                    
        </div>
    
    </div>

</div>

{% endblock  %}