{% extends 'base.html' %}
{% block  content %}
    <div class="container">
        <!-- Content Start -->
        <article class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <div class="flex-col">
                <h1 class="title top-margin">{{ recipe.recipe_name }}</h1>
                <div class="flex-row">
                    <div class="flex-row top-margin">
                        <img src="{{ recipe.recipe_image.url }}" class="main-detail-image">
                    </div>
                </div>
                <div class="post-meta flex-row-space-between top-margin">
                    <div class="">
                        <span><span class="bold">Uploaded by:</span> {{ recipe.recipe_author }}</span>
                    </div>
                    <div class="">
                        <span><span class="bold">Mealtime:</span> {{ recipe.get_meal_time_display }}</span>
                    </div>
                    <div class="">
                        <span><span class="bold">Cost:</span> {{ recipe.get_cost_display }}</span>
                    </div>
                    <div class="">
                        <span><span class="bold">Difficulty:</span> {{ recipe.get_difficulty_level_display }}</span>
                    </div>
                    <div class="">
                        <span><span class="bold">Uploaded Date:</span> {{ recipe.uploaded_date }}</span>
                    </div>
                </div>
                <div class="post-content top-margin">
                    <div class="recipe-ingredients">
                        <h2>Ingredients</h2>
                        <ul class="ct-list">
                            {% for ingredient in recipe.ingredients.all %}<li>{{ ingredient }}</li>{% endfor %}
                        </ul>
                    </div>
                    <div class="recipe-instructions">
                        <h2>Instructions</h2>
                        {{ recipe.instructions|linebreaks }}
                    </div>
                </div>
            </div>
        </article>
        <!-- Content End -->
    {% endblock %}
