.custom-body {
    margin-left: 30px;
    margin-right: 30px;
    border: 10px solid red;
}

.nav-bar-options {
    padding-left: 0px;
}

.nav-button-options {
    margin-right: 30px;
}

.recipe-card-author {
    font-weight: 600;
}

.reduce_bottom_margin {
    margin-bottom: 2px;
}

.increase_card_text_padding {
    padding-left: 34px;
    padding-right: 34px;
}

.login-form-container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.registration-form-container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.alert-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-registration {
    width: 100%
}

.registration-form {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.red {
    border: 30px solid red;
}

.view-recipe-btn {
    background-color: rgba(33, 37, 41, 0.75);
}

.view-recipe-text {
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.form-headers {
    font-size: 40px;
}


.add-ing-finish-text {
    font-weight: 600;
    color: white;
    text-decoration: none;
}