{% extends 'base.html' %}
{% block  content %}

<main>
    <div class="login-form-container">    
        <div class="login-form">
            <form method="POST" class="">
                {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        
            <div class="form-floating">
                <input type="text" class="form-control" name="username" placeholder="Username">
                <label for="floatingInput">username</label>
            </div>
        
            <div class="form-floating">
                <input type="password" class="form-control" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            
            <div>
                <br>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
            <br>
            <p class="message">Not registered? <a href="{% url 'register_user' %}">Create an account</a></p>
            </form>
        </div>    
    </div>
</main>



{% endblock %}