    <header class="p-3 text-bg-dark">
        
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                </a>
                {% if user.is_authenticated %}
        
                    <ul class="col-12 col-lg-auto me-lg-auto mb-md-0">
                        <button type="button" class="btn btn-secondary">
                            <a href="{% url 'home' %}" class="nav-link px-2 text-white nav-bar-options">Public Recipe Feed</a>
                        </button>
                    </ul>

                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
                    </form>

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{user}}
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">View profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'add_recipe' %}">Add new recipe</a></li>
                            <li><a class="dropdown-item" href="#">Manage account</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout_user' %}">Log out</a></li>
                        </ul>
                    </div>

                {% else %}

                    <ul class="col-12 col-lg-auto me-lg-auto mb-md-0">
                        <button type="button" class="btn btn-secondary">
                            <a href="{% url 'home' %}" class="nav-link px-2 text-white nav-bar-options">Public Recipe Feed</a>
                        </button>
                    </ul>
                
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
                    </form>
        
                    <div class="text-end">
                        
                        <a href="{% url 'login_user' %}" class="btn btn-primary me-2" role="button" aria-pressed="true">Login</a>
                        <a href="{% url 'register_user' %}" class="btn btn-warning me-2" role="button" aria-pressed="true">Sign-up</a>
                    </div>

                {% endif %}

            </div>
        </div>
      </header>

    {% block content %}

    {% endblock %}